/ FAQ: yep, this file must be called _pagination and not
/ just pagination, because it is how partial method works
/ 1  2  3  4  5  <6>  7  8  9 10 11
/ 6  7  8  9 10 <11> 12 13 14 15 16
- unless page.max.eql?(1)
  - if page.previous
    /= link_to "<< Previous", "?page=#{page.previous.number}"
    != link_to "<< Previous", Page.route(request, page, page.previous.number)
  - if page.max <= 11
    - (1..page.max).each do |pagenum|
      - if page.number.eql?(pagenum)
        = pagenum
      - else
        /= link_to pagenum, "?page=#{pagenum}"
        != link_to pagenum, Page.route(request, page, pagenum)
  - elsif page.number <= 6
    - (1..11).each do |pagenum|
      - if page.number.eql?(pagenum)
        = pagenum
      - else
        /= link_to pagenum, "?page=#{pagenum}"
        != link_to pagenum, Page.route(request, page, pagenum)
  - elsif page.number >= (page.max - 6)
    - ((page.max - 11)..(page.max)).each do |pagenum|
      - if page.number.eql?(pagenum)
        = pagenum
      - else
        /= link_to pagenum, "?page=#{pagenum}"
        != link_to pagenum, Page.route(request, page, pagenum)
  - else
    - ((page.number - 5)..(page.number + 5)).each do |pagenum|
      - if page.number.eql?(pagenum)
        = pagenum
      - else
        /= link_to pagenum, "?page=#{pagenum}"
        != link_to pagenum, Page.route(request, page, pagenum)
  - if page.next
    /= link_to "Next >>", "?page=#{page.next.number}"
    != link_to "Next >>", Page.route(request, page, page.next.number)
