%h1 Welcome to Rango!
%ul
  %li== Ruby version: #{RUBY_VERSION} (#{RUBY_PLATFORM})
  %li== Rango version: #{Rango::VERSION}
  %li== Project root: #{Project.root}
  %li
    Loaded Rango files:
    %ul
      - @rango_files.each do |file|
        %li= file
  %li
    %code $LOAD_PATH:
    %ul
      - $LOAD_PATH.each do |path|
        %li= path
  %li
    %code $LOADED_FEATURES:
    %ul
      - $LOADED_FEATURES.each do |file|
        %li= file

%h2 Getting started

%ol
  %li step 1
