<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>404 Page Not Found</title>
    <style type="text/css" media="screen">
      .normal { color: #fff; }
      .comment { color: #005; font-style: italic; }
      .keyword { color: #A44; font-weight: bold; }
      .method { color: #44f; }
      .class { color: #0c4; }
      .module { color: #050; }
      .punct { color: #668; font-weight: bold; }
      .symbol { color: #ff0; }
      .string { color: #4f4; }
      .char { color: #F07; }
      .ident { color: #fff; }
      .constant { color: #0c4; }
      .regex { color: #B66; background: #FEF; }
      .number { color: #F99; }
      .attribute { color: #fc4; }
      .global { color: #7FB; }
      .expr { color: #227; }
      .escape { color: #277; }
    </style>
  </head>
  <body>
    <h1><span style="color:red">404</span> Page Not Found</h1>
    <p>
      Request path: <%= @path %>
    </p>

    <!-- TODO: router params plus request params -->
    <% unless @params.nil? %>
      <h2>Params</h2>
      <%= @params.inspect %>
    <% end %>

    <h2>Routes</h2>
    <% unless @routes.empty? %>
      <ul>
        <% @routes.each do |route| %>
          <li>
            <%= syntax(route.match_pattern.inspect) %>
            <%= syntax(route.match_params.inspect) unless route.match_params.empty? %>
          </li>
        <% end %>
      <% else %>
        Any route is defined. Please edit your <code><%= @router %></code>.
      <% end %>
    </ul>
  </body>
</html>
